nav {
    display: flex;
    align-items: center;
    font-size: 22px;
    border-bottom: 1px solid black;
}

a {
    text-decoration: none;
}

#campos {

    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}


