nav {
    display: flex;
    background-color: aqua;
    align-items: center;
    font-size: 22px;
    border-bottom: 1px solid black;
}

a {
    text-decoration: none;
}

#campos {
    background-color: rgb(176, 176, 197);
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}


