.container {
    margin: 0;
    padding: 15px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 15px;

}

.titulo {
    margin: 0;
    padding: 0;

    font-size: 35px;
    text-decoration: underline wavy;
    color: #2b363f;
}

.container-opcoes {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;

    gap: 30px;

    justify-content: center;
    align-items: center;
}

button {
    font-family: "Quicksand";
    color: #f1f8ff;
    background-color: #7ca0be;
}

.opcoes {
    margin: 0;
    padding: 20px;
    
    font-size: 20px;
    font-weight: 600;

    border-radius: 15px;
    border: none;

}

button:hover {
    background-color: #5a7c99;
    cursor: pointer;
}

button:active {
    background-color: #4d6477;
}

.container {
    width: 50%;

    margin: 0;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    background-color: #D5E2E3;
    border-radius: 5px;
}

form {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 10px;
}

.informacoes {
    width: 65%;

    display: flex;
    flex-direction: column;
    gap: 5px;

}

label {
    margin: 0;
    padding: 0;

    font-size: 18px;
    font-weight: 600;
    color: #2b363f;
}

input {
    margin: 0;
    padding: 5px;

    border: none;
    border-radius: 5px;

    font-family: "Quicksand";
    font-size: 15px;
}