

.mensagem-popup {
    position: absolute;
    background-color: #f87171;
    color: white;
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 0.85rem;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    animation: aparecer 0.3s ease-out;
    z-index: 10;
    white-space: nowrap;
}


/* Animação suave */
@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(-120%);
    }

    to {
        opacity: 1;
        transform: translateY(-100%);
    }
}





.th-nome {
    width: 50%;
}

.th-cpf {
    width: 30%;
}

.th-opcoes {
    width: 20%;
}

